@font-face {
	font-family: "Jokerman-Regular";
	src: url('Jokerman-Regular.ttf') format("truetype");
}


#div1 {
	position: absolute;
	left: 200px;
	display: inline-block;
	width: 350px;
	height: 800px;
	padding: 20px;
	border: 1px solid #aaaaaa;
}

#div2 {
	position: absolute;
	left: 750px;
	display: inline-block;
	width: 350px;
	height: 800px;
	padding: 20px;
	border: 1px solid #aaaaaa;
}

#div3 {
	position: absolute;
	left: 1300px;
	display: inline-block;
	width: 350px;
	height: 800px;
	padding: 20px;
	border: 1px solid #aaaaaa;
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 1.5rem;
}